body{
    

}
.first-slide{
    display: flex;
}
.width-size{
    width: 100%;
    padding-left: 5%;
}
.width-size img{
    width: 60%;
}
h1{
    font-size: 60px;
    font-family: Verdana, sans-serif;

}
h2{
    font-size: 50px;
    text-align: center;
    font-family: Verdana, sans-serif;
}
h3{
    font-size: 40px ;
    font-family: Verdana, sans-serif;
}
h4{
    font-size: 30px;
    font-family: "Sofia", sans-serif;
}
section{
    margin-bottom: 100px;
}
.flowerblue-color{
    color: cornflowerblue;
}
.mission{
    border-left: 7px solid tomato;
}
.anchor-button{
    text-decoration: none;
    background-color: tomato;
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
#mission{
    background-color: honeydew;
    box-shadow: initial;
    width:100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 10px;
}
#vission{
    background-color: lightyellow;
    box-shadow: initial;
    width:100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 10px;
}
#goals{
    background-color: linen;
    width:100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 10px;
}
#develop-without-limit{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15%;
}
#global-community{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 15%;
    margin-right: 20px;
}
#about-me{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
}
